tr:nth-child(odd) {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #e9ecef;
}

tr:hover {
  background-color: #d1e7dd;
  cursor: pointer;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #0d6efd;
  color: white;
  z-index: 1;
}

.table-wrapper {
  max-height: 600px;
  overflow-y: auto;
  border: 1px solid #dee2e6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1024px) {
  .main-content {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
  }

  footer {
    margin-top: 350px;
  }

  h1 {
    font-size: 23px;
    text-align: center;
  }
}

@media screen and (max-height: 1024px) {
  .content {
    height: 110vh;
  }
}
