@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #F4F6FF;
}

header {
  background-color: #4070f4;
  color: white;
  padding: 20px;
  width: 100%;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}

.container {
  display: flex;
  flex: 1;
  width: 100%;
}

.sidebar {
  background-color: #4070f4;
  color: white;
  width: 250px;
  padding: 20px;
  height: 100vh;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  display: flex;
  transition: all 0.3s ease;
}

.sidebar ul li a:hover,
a.active {
  background-color: #0e4bf1;
  border-radius: 5px;
  padding-left: 10px;
}

.main-content {
  padding: 20px;
  flex: 1;
}

.main-content h1 {
  margin-bottom: 20px;
}

footer {
  background: #4070f4;
  color: white;
  text-align: center;
  padding: 20px 0;
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
  }

  h1 {
    font-size: 23px;
    text-align: center;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgb(53, 160, 242);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(221, 240, 255);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 130, 230);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(20, 141, 230);
}
